<h1>Books</h1>
<table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Opinion</th>
      </tr>
    </thead>
        <tr>
    <% @books.each do |book| %>
      <tbody>
        <td>
            <%= book.title %>
        </td>
        <td>
            <%= book.body %>
        </td>
      </tbody>
      </tr>
    <% end %>
</table>