<div class = "container">
    <div class = "row">

        <h1>welcome to <span class="glyphicon glyphicon-book"><strong>Bookers!!</strong></span></h1>

        <p><%= link_to "Log in", new_user_session_path %></p>
        <p><%= link_to "Sign up", new_user_registration_path %></p>
    </div>
</div>